<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('app_blog_index')}}">
    Blog</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="recherche" placeholder="Recherche" aria-label="Recherche"/>
      <button class="btn btn-outline-success" type="submit">Gestion des articles</button>
    </form>
  </div>
</nav>